@font-face {
  font-family: "HyundaiHead";
  font-display: swap;
  src: url("../fonts/HyundaiSansHeadKRBold.woff") format("woff"), url("../fonts/HyundaiSansHeadKRBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiHead";
  font-display: swap;
  src: url("../fonts/HyundaiSansHeadKRLight.woff") format("woff"), url("../fonts/HyundaiSansHeadKRLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiHead";
  font-display: swap;
  src: url("../fonts/HyundaiSansHeadKRRegular.woff") format("woff"), url("../fonts/HyundaiSansHeadKRRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiHead";
  font-display: swap;
  src: url("../fonts/HyundaiSansHeadKRMedium.woff") format("woff"), url("../fonts/HyundaiSansHeadKRMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiText";
  font-display: swap;
  src: url("../fonts/HyundaiSansTextKRBold.woff") format("woff"), url("../fonts/HyundaiSansTextKRBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiText";
  font-display: swap;
  src: url("../fonts/HyundaiSansTextKRMedium.woff") format("woff"), url("../fonts/HyundaiSansTextKRMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "HyundaiText";
  font-display: swap;
  src: url("../fonts/HyundaiSansTextKRRegular.woff") format("woff"), url("../fonts/HyundaiSansTextKRRegular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.title {
  font-family: 'HyundaiHead';
  font-size: 50px;
  font-weight: 700;
  line-height: 62px;
}

.subtitle {
  font-family: 'HyundaiHead';
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
}

body {
  font-family: 'HyundaiText', sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  overflow-x: hidden;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.container__big {
  max-width: 1240px;
}

.header {
  padding: 20px 0;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 500;
}

.language__ru {
  margin: 0 10px;
  cursor: pointer;
}

.language__ru::after {
  content: '|';
  width: 100%;
  height: 100%;
  margin-left: 10px;
  color: #D8D8D8;
  cursor: auto;
}

.language__ar {
  cursor: pointer;
}

.language__active {
  color: #1385B7;
}

.hero {
  position: relative;
  background-color: #032D5D;
}

.hero video {
  min-width: 100%;
  min-height: 320px;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__text {
  position: absolute;
  top: 30px;
  width: 100%;
  color: #ffffff;
}

.hero__title {
  padding-bottom: 8px;
}

.hero__callback {
  position: absolute;
  bottom: 80px;
  right: 80px;
  padding: 11px 14px 11px 20px;
  background-color: #127EB2;
  border-radius: 100px;
}

.hero__callback img {
  width: 29px;
  height: auto;
}

.sticker {
  position: absolute;
  bottom: 80px;
  padding: 15px;
  font-size: 14px;
  line-height: 21px;
  background-color: #032D5D;
  color: #ffffff;
}

.sticker__name {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.sticker__price span {
  font-weight: 500;
  font-size: 26px;
  line-height: 33px;
}

.main-form {
  padding: 30px 0;
  background-color: #032D5D;
}

.main-form__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main-form__form input,
.main-form__form select {
  color: #ffffff;
  background-color: #032D5D;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  font-size: 16px;
  line-height: 21px;
}

.main-form__form input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.main-form__form input::-moz-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.main-form__form input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.main-form__form input::-ms-input-placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.main-form__form input::placeholder {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
}

.main-form__form select {
  padding-right: 120px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #032D5D url("../img/icons/arrow.png") right center no-repeat;
}

.main-form__form input[type=submit] {
  padding: 15px 40px;
  color: #032D5D;
  background-color: #fff;
}

.location {
  display: none;
}

.features {
  padding: 50px 0;
  background-color: #F6F3F2;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__row .features__item:nth-child(1) {
  margin-right: 10px;
}

.features__item {
  position: relative;
  width: 100%;
  padding-left: 40px;
  margin-bottom: 25px;
  text-align: left;
}

.features__item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 24px;
  height: 24px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/icons.svg#check") center no-repeat;
}

.premiere {
  padding-top: 90px;
  padding-bottom: 110px;
  background-color: #000;
}

.premiere__title {
  color: #ffffff;
  text-align: center;
}

.premiere__title-bottom {
  background: -o-linear-gradient(45deg, #80059F, #FE7139), -o-linear-gradient(135deg, #E4072A, #FE7139);
  background: linear-gradient(45deg, #80059F, #FE7139), linear-gradient(-45deg, #E4072A, #FE7139);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.premiere__timer {
  min-height: 734px;
  background: url("../img/timer-bg.jpg") center no-repeat;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 75px;
  font-size: 86px;
  font-weight: 700;
  color: #ffffff;
}

.timer div:nth-child(n) {
  position: relative;
  padding: 0 37px;
}

.timer div:nth-child(n)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 11px;
  height: 43px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background: url("../img/icons/icons.svg#colon") center/200% no-repeat;
}

.timer div:nth-child(n)::before {
  position: absolute;
  bottom: -50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
}

.timer__days::before {
  content: 'days';
}

.timer__hours::before {
  content: 'hours';
}

.timer__min::before {
  content: 'min';
}

.timer__sec::before {
  content: 'sec';
}

.timer__sec::after {
  display: none;
}

.text-premiere__row {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}

.text-premiere__row span {
  color: #7E8183;
  line-height: 62px;
}

.text-premiere__link {
  margin-left: 60px;
  color: #ffffff;
  border-bottom: 2px solid #1385B7;
}

.exterior {
  padding: 100px 0;
  text-align: center;
}

.exterior__title {
  margin-bottom: 10px;
}

.exterior__subtitle {
  margin: 0 auto 50px;
  max-width: 760px;
}

.exterior-container {
  width: 100%;
  height: auto;
}

.exterior-slide {
  max-width: 1080px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  background: #ccc;
}

.exterior-slide img {
  height: auto;
  width: 100%;
}

.exterior-scrollbar {
  margin: 30px auto 0;
  max-width: 1080px;
  width: 93%;
  height: 4px;
  background: #E2DFDE;
}

.exterior-scrollbar-drag {
  background: #032D5D;
}

.interior {
  padding: 100px 0;
  background-color: #F6F3F2;
}

.interior__title {
  margin-bottom: 10px;
  text-align: center;
}

.interior__subtitle {
  max-width: 760px;
  margin: 0 auto 50px;
  text-align: center;
}

.interior__slider-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interior__slider-top .image-slider {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.interior__slider-top .image-slider div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
  max-width: 100%;
}

.interior__slider-top .image-slider input[type='range'] {
  position: absolute;
  top: 50%;
  width: 100%;
  margin: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  overflow: hidden;
  -webkit-appearance: none;
  background-color: transparent;
}

.interior__slider-top .image-slider input[type='range']::-webkit-slider-thumb {
  width: 64px;
  -webkit-appearance: none;
  height: 64px;
  cursor: ew-resize;
  background: #032D5D url("../img/icons/slider.png") center no-repeat;
  border-radius: 100%;
}

.interior__slider-top .image-slider > img {
  display: block;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  max-width: 100%;
}

@media (max-width: 1080px) {
  .interior__slider-top .image-slider {
    width: 768px;
  }

  .interior__slider-top .image-slider div img {
    width: 768px;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 28px;
    line-height: 30px;
  }

  .subtitle {
    font-size: 15px;
    line-height: 24px;
  }

  .language__ru {
    margin: 0 5px;
  }

  .language__ru::after {
    content: '/';
    color: #000;
    margin-left: 5px;
  }

  .language {
    font-size: 14px;
  }

  .hero__callback {
    display: none;
  }

  .sticker {
    font-size: 12px;
    padding-bottom: 0;
  }

  .sticker__name {
    font-size: 14px;
    line-height: 18px;
  }

  .sticker__price span {
    font-size: 24px;
    line-height: 30px;
  }

  .sticker {
    position: static;
    text-align: center;
  }

  .main-form__form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: inherit;
        -ms-flex-align: inherit;
            align-items: inherit;
  }

  .main-form__form input:nth-child(1) {
    margin-top: 0;
  }

  .main-form__form input,
  .main-form__form select {
    margin-top: 30px;
  }

  .features {
    padding: 40px 0;
  }

  .features__row .features__item:nth-child(1) {
    margin-right: 0;
  }

  .features__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .features__item {
    font-size: 16px;
  }

  .premiere {
    display: none;
  }

  .exterior {
    padding: 70px 0;
  }

  .exterior__subtitle {
    margin-bottom: 40px;
  }

  .exterior-container {
    width: 93%;
  }

  .interior {
    padding: 55px 0;
  }

  .interior__slider-top .image-slider {
    width: 480px;
  }

  .interior__slider-top .image-slider div img {
    width: 480px;
  }

  .interior__slider-top .image-slider input[type='range']::-webkit-slider-thumb {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 480px) {
  .interior__slider-top .image-slider {
    width: 320px;
  }

  .interior__slider-top .image-slider div img {
    width: 320px;
  }

  .interior__slider-top .image-slider input[type='range']::-webkit-slider-thumb {
    width: 40px;
    height: 40px;
  }
}